/* Stili per la sidebar */
.sidebar {
  margin-right: 70px;
  width: 10px;
  min-width: 10px;
  background-color: #2f4f4f;
  color: #fff;
  padding: 16px;
  transition: width 0.3s, min-width 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  box-shadow: 2px 2px 2px 2px #2f4f4f8e;
  border-radius: 0px 8px 8px 0px;
}

.sidebar.open {
  margin-right: 70px;
  width: 20px; /* Larghezza normale della sidebar quando è aperta */
}

.sidebar.closed {
  width: 10px; /* Riduci la larghezza quando è chiusa */
  min-width: 10px; /* Mantieni la stessa larghezza minima quando è chiusa */
}

/* Stili per il logo */
.logo-container {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  /* Centra il logo all'interno della sidebar */
  justify-content: center;
}

/* Rimuovi il margine del corpo per consentire alla sidebar di occupare tutto lo spazio a sinistra */
body {
  margin: 0;
  padding: 0;
}

.logo {
  font-size: 1.8rem; /* Aumenta la dimensione del logo */

  /* Aggiungi il testo in verticale */
  writing-mode: vertical-lr;
}

/* Stili per la freccia */
.toggle-btn {
  cursor: pointer;
  /* Imposta la larghezza e l'altezza per rendere la freccia visibile */
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* Posiziona la freccia come linguetta */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* Mostra la freccia solo quando la sidebar è chiusa */
  display: none;
}

.arrow {
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.arrow.left {
  border-left: 6px solid #000080;
}

.arrow.right {
  border-left: 6px solid #000080;
}

/* Mostra la freccia quando la sidebar è chiusa */
.sidebar.closed .toggle-btn {
  display: flex;
}

/* Stili per il menu */
.sidebar-menu {
  list-style: none;
  padding: 0;
}

.sidebar-link {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.sidebar-link:hover {
  background-color: #6c757d;
}

.sidebar-icon {
  font-size: 1.2rem;
  margin-right: 8px;
}

.sidebar.open {
  height: 100%;
}
