/* Stili per il contenitore principale */
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  background-color: #f5f5f5;
  color: #333;
  height: 100%;
}

/* Stili per il titolo di benvenuto */
.title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 16px;
}

/* Stili per la descrizione */
.description {
  font-size: 1.2rem;
  margin-bottom: 24px;
}

/* Stili per il contenitore delle caratteristiche */
.features-container {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  width: 100%;
  margin-top: 40px;
}

/* Stili per ogni caratteristica */
.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 30%;
}

/* Stili per le icone */
.icon {
  width: 14rem; /* Imposta la larghezza desiderata per l'immagine */
  height: 23rem; /* Imposta l'altezza desiderata per l'immagine */
  object-fit: cover; /* Assicura che l'immagine venga ridimensionata proporzionalmente senza distorsioni */
  margin-bottom: 10px; /* Aggiungi uno spazio tra l'immagine e il testo */
}
/* Stili per il titolo della caratteristica */
.feature-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 8px;
}

/* Stili per la descrizione della caratteristica */
.feature-description {
  font-size: 1rem;
}
